/* styles.css */
.aks_modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }


/* .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 400px;
    text-align: center;
} */

.aks_close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* .popup-message {
    margin-bottom: 20px;
    font-size: 18px;
}

.bottom-close-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

  .aks_popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
    .aks_popup-content {

    background: linear-gradient(90deg, rgba(9, 58, 218, 1) 0%, rgba(5, 70, 234, 1) 50%, rgba(0, 129, 250, 1) 100%);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .aks_modal-content {
    position: relative;
    border-radius: 5px;
    width: 80%;
    max-width: 780px;
    min-height: 475px;
    display: flex;
    flex-direction: column;
  }
  
  .aks_modal-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(90deg, rgba(9, 58, 218, 1) 0%, rgba(5, 70, 234, 1) 50%, rgba(0, 129, 250, 1) 100%);
    padding: 20px;
    color: white;
    height: 401px;
  }
  
  .aks_modal-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(90deg, rgba(9, 58, 218, 1) 0%, rgba(5, 70, 234, 1) 50%, rgba(0, 129, 250, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 63px;
    box-shadow: 0 -5px 5px -5px #333;
  }
  
  .aks_cluster-heading {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
  }
  
  .aks_cluster-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .aks_cluster-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .aks_upgrade-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .aks_upgrade-controls label {
    color: white;
    font-size: 14px;
  }
  
  .aks_upgrade-controls select {
   
    padding-right:10px ;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: 'rgba(1, 26, 128, 1)';
    font-size: 12px;
  }
  
  .aks_confirm-button {
    background-color: white;
    padding: 10px;
    gap: 10px;
    color: rgba(1, 26, 128, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
  }
  
  /* .aks_close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  } */
.aks_icon_color {
  color: white
}