version: "3.8"

services:
  vault:
    build:
      context: ./ITOpsToolokit_Backend/vault_setup
      dockerfile: Dockerfile
    image: local/vault-custom:1.14
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
      - "8201:8201"
    environment:
      # Set advertised addresses
      VAULT_API_ADDR: "https://0.0.0.0:8200"
      VAULT_CLUSTER_ADDR: "https://0.0.0.0:8201"
      # Control TLS SANs
      TLS_IPS: "127.0.0.1"
      TLS_DNS: "localhost"
      TLS_CN: "localhost"
    volumes:
      - ./ITOpsToolikit_Backend/vault_setup/vault.hcl:/vault/vault.hcl:ro
      - vault-data:/opt/vault/data
      - vault-tls:/opt/vault/tls

volumes:
  vault-data:
  vault-tls:
