version: '3.8'

services:
  vault:
    image: 361568250748.dkr.ecr.${AWS_REGION_RELEASE}.amazonaws.com/vault:latest
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: https://vault.local:8200
      VAULT_CACERT: /opt/vault/tls/tls.crt
    cap_add:
      - IPC_LOCK
