version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    entrypoint: ["/vault/init_vault.sh"]
    environment:
      # Vault listens on this address
      VAULT_ADDR: "https://0.0.0.0:8200"
    volumes:
      # Vault configuration file
      - /home/ubuntu/vault_setup/vault.hcl:/vault/vault.hcl
      # TLS generation script
      - /home/ubuntu/vault_setup/generate_tls.sh:/vault/generate_tls.sh
      # TLS directory (to persist certificates)
      - /home/ubuntu/vault_setup/tls:/opt/vault/tls
      # Persistent Vault data
      - vault-data:/opt/vault/data

volumes:
  vault-data:
