version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    command: "vault server -config=/vault/config/vault.hcl"
    environment:
      VAULT_ADDR: "https://3.6.96.101:8200"   # Use your public IP
    volumes:
      # Vault configuration
      - /home/ubuntu/vault_setup/vault.hcl:/vault/config/vault.hcl
      # TLS certificates
      - /home/ubuntu/vault_setup/tls:/opt/vault/tls
      # Vault data directory
      - /home/ubuntu/vault_setup/data:/opt/vault/data

volumes:
  vault-data:
