services:
  vault:
    container_name: vault-deploy-vault-1
    image: vault-deploy-vault
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
    volumes:
      - ./init_vault.sh:/vault/init_vault.sh
      - ./vault.hcl:/vault/config/vault.hcl
      - ./tls:/vault/certs
    command: ["/vault/init_vault.sh"]
