version: "3.8"

services:
  vault:
    image: vault:1.15.0
    container_name: vault_server
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
      VAULT_LOCAL_CONFIG: |
        {
          "backend": {
            "file": { "path": "/vault/file" }
          },
          "listener": {
            "tcp": { "address": "0.0.0.0:8200", "tls_disable": 1 }
          },
          "default_lease_ttl": "168h",
          "max_lease_ttl": "720h"
        }
    volumes:
      - vault-deploy_vault-data:/vault/file

volumes:
  vault-deploy_vault-data:
    external: true
