version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
    volumes:
      # Vault config
      - /home/ubuntu/vault_setup/vault.hcl:/vault/config/vault.hcl
      # TLS certs
      - /home/ubuntu/vault_setup/tls:/opt/vault/tls
      # Vault persistent data
      - vault-data:/opt/vault/data
      # Vault init script
      - /home/ubuntu/vault_setup/init_vault.sh:/vault/init_vault.sh
    command: ["/bin/bash", "/vault/init_vault.sh"]

volumes:
  vault-data:
