services:
  vault:
    build: .
    container_name: vault-deploy-vault
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./vault.hcl:/vault/config/vault.hcl
      - ./init_vault.sh:/vault/init_vault.sh
      - ./tls:/vault/certs
    restart: unless-stopped
