version: '3.8'

services:
  vault:
    build: .
    ports:
      - "8200:8200"
    volumes:
      - vault-data:/vault/data

    command: /vault/init_vault.sh

    cap_add:
      - IPC_LOCK

    environment:
      VAULT_ADDR: https://rba.cognizantgoc.com:8200
      VAULT_CACERT: /vault/certs/tls.crt

volumes:
  vault-data:
