version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
    volumes:
      - ./vault.hcl:/vault/vault.hcl
      - ./generate_tls.sh:/vault/generate_tls.sh
      - vault-data:/opt/vault/data
      - ./tls:/opt/vault/tls
    command: >
      sh -c "
      /vault/generate_tls.sh &&
      vault server -config=/vault/vault.hcl
      "

volumes:
  vault-data:
