version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    command: "/vault/init_vault.sh"
    environment:
      VAULT_ADDR: "https://3.6.96.101:8200"  # Use your public IP
    volumes:
      # Mount Vault config
      - /home/ubuntu/vault_setup/vault.hcl:/vault/vault.hcl
      # Mount TLS generation script
      - /home/ubuntu/vault_setup/generate_tls.sh:/vault/generate_tls.sh
      # Mount data directory
      - vault-data:/opt/vault/data

volumes:
  vault-data:
