services:
  vault:
    build: .
    container_name: vault-deploy-vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
    volumes:
      - ./tls:/vault/certs
      - ./vault_data:/vault/file
    restart: unless-stopped
