services:
  vault:
    image: vault-deploy-vault
    container_name: vault-deploy-vault-1
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./file:/vault/file
      - ./logs:/vault/logs
      - ./certs:/vault/certs
    restart: unless-stopped
