version: '3.8'

services:
  vault:
    container_name: vault
    build: .
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./data:/opt/vault/data
      - ./tls:/opt/vault/tls
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
    restart: unless-stopped
