version: "3.8"

services:
  vault:
    image: vault:1.15.0
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    command: "vault server -config=/vault/config/vault.hcl"
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
    volumes:
      # Mount your config file and TLS folder
      - ~/ITOpsToolokit_Backend/vault_setup/vault.hcl:/vault/config/vault.hcl
      - ~/ITOpsToolokit_Backend/vault_setup/tls:/opt/vault/tls
      - vault-data:/opt/vault/data

volumes:
  vault-data:
