version: '3.8'

services:
  vault:
    container_name: vault
    build: .
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./tls:/vault/certs
      - ./vault_data:/vault/data
    command: /vault/init_vault.sh
