version: '3.9'

services:
  vault:
    build: .
    container_name: vault
    ports:
      - "8200:8200"
      - "8201:8201"
    volumes:
      - ./tls:/vault/certs
      - ./data:/vault/data
      - ./logs:/vault/logs
      - ./vault.hcl:/vault/config/vault.hcl
