version: '3.8'

services:
  vault:
    image: 361568250748.dkr.ecr.${AWS_REGION_RELEASE}.amazonaws.com/vault:latest
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: https://3.6.96.101:8200
      VAULT_CACERT: /opt/vault/tls/certfile.pem
      VAULT_API_ADDR: https://3.6.96.101:8200
    cap_add:
      - IPC_LOCK
    volumes:
      - ./vault-deploy/tls/tls:/opt/vault/tls
