version: "3.8"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    command: "vault server -config=/vault/vault.hcl"
    environment:
      VAULT_ADDR: "https://0.0.0.0:8200"
    volumes:
      - /home/ubuntu/vault_setup:/vault
      - vault-data:/opt/vault/data

volumes:
  vault-data:
