services:
  vault:
    build: .
    ports:
      - "8200:8200"
    volumes:
      - ./tls:/vault/tls
      - ./vault.hcl:/vault/config/vault.hcl
      - ./init_vault.sh:/vault/init_vault.sh
      - vault-data:/vault/data
    command: server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: https://rba.cognizantgoc.com:8200
      VAULT_CACERT: /vault/tls/tls.crt
    volumes:
      vault-data:
