version: "3.8"

services:
  vault:
    image: vault:1.15.0
    container_name: vault_server
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
    volumes:
      - vault-deploy_vault-data:/vault/file
      - ./ITOpsToolokit_Backend/vault_setup/vault.hcl:/vault/config/vault.hcl  # Corrected mount for vault.hcl
      - ./ITOpsToolokit_Backend/vault_setup/tls:/vault/tls  # Corrected mount for TLS certificates
      - ./ITOpsToolokit_Backend/vault_setup/generate_tls.sh:/vault/generate_tls.sh  # Mount the generate_tls.sh script
      - ./ITOpsToolokit_Backend/vault_setup/init.json:/vault/init.json  # Mount init.json if required

    command: ["sh", "/vault/generate_tls.sh", "&&", "vault", "server", "-config=/vault/config/vault.hcl"]

volumes:
  vault-deploy_vault-data:
    external: true
