ag2[openai]
autogen
autogen-agentchat[gemini]~=0.2
autogen-agentchat[retrievechat]~=0.2
chromadb
fastapi
flaml[automl]
google-cloud-aiplatform
hvac
icecream
langchain
langchain-community
langchain-google-vertexai
langchain-huggingface
langchain-openai
loguru
mesop
numpy
openpyxl
pandas
paramiko
Pillow
psycopg2-binary
PyJWT
PyMySQL
pywinrm
python-decouple
python-dotenv
python-multipart
PyYAML
pydantic[email]
redis
requests
scapy
scikit-learn
sentence-transformers
SQLAlchemy
termcolor
transformers
tqdm
uvicorn[standard]
